Source: libfslparser
Priority: extra
Maintainer: Josua Mayer <privacy@not.given>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Section: libs
Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mxOBS/deb-pkg_libfslparser.git
Vcs-Browser: https://github.com/mxOBS/deb-pkg_libfslparser

Package: libfslparser-dev
Section: libdevel
Architecture: any
Depends: libfslparser (= ${binary:Version}), ${misc:Depends}
Description: Development files for libfslparser
 Provides development libraries and headers for building programs with libfslparser.

Package: libfslparser
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Freescale multimedia parser library
 Provides a binary-only library for parsing several multimedia file formats.
